In [1]:
import pandas as pd
import numpy as np

In [9]:
data = pd.read_excel('THONGKESVISHOCTUCHON.xlsx', sheet_name='Dulieu0205' )
data.head()

,GioiTinh,IDLopHoc,IDSinhVien,MaMonHoc,TenDot,DiemTongKet,Thuộc KCNTT
0,1,25933,1677250,3197,HK1 (2019-2020),8.0,0
1,1,25933,1677250,3203,HK2 (2019-2020),7.6,0
2,1,25933,1677250,3395,HK1 (2020-2021),8.9,0
3,1,25933,1677250,1076,HK1 (2020-2021),7.9,1
4,1,25933,1677250,901,HK1 (2020-2021),9.5,1

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4670 entries, 0 to 4669
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GioiTinh     4670 non-null   int64
 1   IDLopHoc     4670 non-null   int64
 2   IDSinhVien   4670 non-null   int64
 3   MaMonHoc     4670 non-null   int64
 4   TenDot       4670 non-null   object
 5   DiemTongKet  4015 non-null   float64
 6   Thuộc KCNTT  4670 non-null   int64
dtypes: float64(1), int64(5), object(1)
memory usage: 255.5+ KB

In [12]:
data.isna().sum()

GioiTinh         0
IDLopHoc         0
IDSinhVien       0
MaMonHoc         0
TenDot           0
DiemTongKet    655
Thuộc KCNTT      0
dtype: int64

In [21]:
data.fillna

<bound method NDFrame.fillna of       IDSinhVien  MaMonHoc           TenDot
0      1677250.0    3197.0  HK1 (2019-2020)
1      1677250.0    3203.0  HK2 (2019-2020)
2      1677250.0    3395.0  HK1 (2020-2021)
3      1677250.0    1076.0  HK1 (2020-2021)
4      1677250.0     901.0  HK1 (2020-2021)
...          ...       ...              ...
5004         NaN       NaN              NaN
5005         NaN       NaN              NaN
5006         NaN       NaN              NaN
5007   1737233.0    3320.0  HK2 (2022-2023)
5008   1737233.0    3591.0  HK1 (2023-2024)

[5009 rows x 3 columns]>